extends ../shared/layoutAdmin
block content
    link(href='/static/libs/bootstrap-table/dist/bootstrap-table.min.css', rel='stylesheet')
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-8
            h2=__("admin.exception.exception_manage")
    .wrapper.wrapper-content.animated.fadeIn
        .row
            .col-lg-12
                .ibox
                    .ibox-content
                        table#exceptions
    script(type='text/javascript', src='/static/jquery/dist/jquery.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/metisMenu/dist/metisMenu.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/js/admin.js', charset='utf-8')
    script(type='text/javascript', src='/static/libs/bootstrap-table/dist/bootstrap-table.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/lodash/lodash.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/js/exception.js', charset='utf-8')
