extends ../shared/layoutAdmin
block content
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-8
            h2=__("admin.index.analysis")
    .wrapper.wrapper-content.animated.fadeIn
        .row
            .col-lg-12
                .ibox
                    .ibox-content
                        iframe(src='https://tongji.baidu.com', style='width: 100%; min-height: 5000px; border: none;')
    script(type='text/javascript', src='/nodeModules/jquery/dist/jquery.min.js', charset='utf-8')
    script(type='text/javascript', src='/nodeModules/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
    script(type='text/javascript', src='/nodeModules/metismenu/dist/metisMenu.min.js', charset='utf-8')
    script(type='text/javascript', src=`${staticPrefix}/js/admin.js`, charset='utf-8')
