@{this.layout = './shared/layoutAdmin'}

<link href="/libs/fuelux/dist/css/fuelux.min.css" rel="stylesheet"/>
<link href="/libs/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
<link href="/libs/switchery/dist/switchery.min.css" rel="stylesheet"/>
<link href="/libs/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>@__("admin.settings.setting")</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="postForm" action="/admin/saveSettings" method="post">
                        <div role="tablist" aria-multiselectable="false" class="panel-group">
                            <div class="row">
                                <div style="margin-bottom:10px;" class="col-md-6">
                                    <div class="panel panel-default">
                                        <div id="headingSite" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" href="#tabSite" aria-expanded="true" aria-controls="tabSite">@__("admin.settings.site")</a>
                                            </h4>
                                        </div>
                                        <div id="tabSite" role="tabpanel" aria-labelledby="headingSite" class="panel-collapse collapse in">
                                            <ul class="list-group">
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.site_name")</div>
                                                    <div class="pull-right">
                                                        <input id="SiteName" type="text" name="SiteName" placeholder='@__("admin.settings.site_name_placeholder")' value="@config.SiteName" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.domain_name")</div>
                                                    <div class="pull-right">
                                                        <input id="SiteDomain" type="text" name="SiteDomain" placeholder='@__("admin.settings.domain_name_placeholder")' value="@config.SiteDomain" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.ICP")</div>
                                                    <div class="pull-right">
                                                        <input id="RecordNo" type="text" name="RecordNo" placeholder='@__("admin.settings.ICP_placeholder")' value="@config.RecordNo" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.logo")</div>
                                                    <div class="pull-right">
                                                        <span class="fileinput-button">
                                                            <img alt="profile" src="@config.LogoPath" style="width:146px;height:146px;" class="img-circle profile-img"/>
                                                            <input type="file" name="file" class="fileupload"/>
                                                            <input id="LogoPath" type="hidden" name="LogoPath" value="@config.LogoPath"/>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.posts_per_page")</div>
                                                    <div class="pull-right">
                                                        <div data-initialize="spinbox" data-step="5" class="spinbox">
                                                            <input id="PageSize" type="text" name="PageSize" placeholder='@__("admin.settings.posts_per_page_placeholder")' value="@config.PageSize" class="form-control input-mini spinbox-input"/>
                                                            <div class="spinbox-buttons btn-group btn-group-vertical">
                                                                <button type="button" class="btn btn-white spinbox-up btn-xs">
                                                                    <span class="fa fa-chevron-up"></span>
                                                                    <span class="sr-only">Increase</span>
                                                                </button>
                                                                <button type="button" class="btn btn-white spinbox-down btn-xs">
                                                                    <span class="fa fa-chevron-down"></span>
                                                                    <span class="sr-only">Decrease</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.show_summary")</div>
                                                    <div class="pull-right">
                                                        <input id="ExpandMenu" type="hidden" name="ExpandMenu" value="@config.ExpandMenu"/>
                                                        <input type="checkbox" checked="@(config.ExpandMenu === 'true')" class="js-switch"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.cache_expire_time")</div>
                                                    <div class="pull-right">
                                                        <div data-initialize="spinbox" data-max="9999999" class="spinbox">
                                                            <input id="CacheExpired" type="text" name="CacheExpired" placeholder='@__("admin.settings.cache_expire_time_placeholder")' value="@config.CacheExpired" class="form-control input-mini spinbox-input"/>
                                                            <div class="spinbox-buttons btn-group btn-group-vertical">
                                                                <button type="button" class="btn btn-white spinbox-up btn-xs">
                                                                    <span class="fa fa-chevron-up"></span>
                                                                    <span class="sr-only">Increase</span>
                                                                </button>
                                                                <button type="button" class="btn btn-white spinbox-down btn-xs">
                                                                    <span class="fa fa-chevron-down"></span>
                                                                    <span class="sr-only">Decrease</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-bottom:10px;" class="col-md-6">
                                    <div class="panel panel-default">
                                        <div id="headingComponent" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" href="#tabComponent" aria-expanded="true" aria-controls="tabComponent">@__("admin.settings.utility")</a>
                                            </h4>
                                        </div>
                                        <div id="tabComponent" role="tabpanel" aria-labelledby="headingComponent" class="panel-collapse collapse in">
                                            <ul class="list-group">
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">
                                                        <a href="http://api.fanyi.baidu.com" target="_blank"> @__("admin.settings.trans")
                                                        </a>
                                                        @__("admin.settings.key")
                                                    </div>
                                                    <div class="pull-right">
                                                        <input id="TranslateKey" type="text" name="TranslateKey" placeholder='@__("admin.settings.key_placeholder")' value="@config.TranslateKey" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@(__("admin.settings.analysis"))（<a href="http://tongji.baidu.com" target="_blank">@__("admin.settings.analysis_service")</a>）</div>
                                                    <div class="pull-right">
                                                        <input id="EnableStatistics" type="hidden" name="EnableStatistics" value="@config.EnableStatistics"/>
                                                        <input type="checkbox" checked="@(config.EnableStatistics === 'true')" class="js-switch"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.analysis_id")</div>
                                                    <div class="pull-right">
                                                        <input id="StatisticsId" type="text" name="StatisticsId" placeholder='@__("admin.settings.analysis_id_placeholder")' value="@config.StatisticsId" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@(__("admin.settings.share"))（<a href="http://www.jiathis.com/" target="_blank">@__("admin.settings.share_service")</a>）</div>
                                                    <div class="pull-right">
                                                        <input id="EnableShare" type="hidden" name="EnableShare" value="@config.EnableShare"/>
                                                        <input type="checkbox" checked="@(config.EnableShare === 'true')" class="js-switch"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.share_id")</div>
                                                    <div class="pull-right">
                                                        <input id="JiaThisId" type="text" name="JiaThisId" placeholder='@__("admin.settings.share_id_placeholder")' value="@config.JiaThisId" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@(__("admin.settings.comments"))（<a href="http://changyan.kuaizhan.com" target="_blank">@__("admin.settings.comments_service")</a>）</div>
                                                    <div class="pull-right">
                                                        <input id="ShowComments" type="hidden" name="ShowComments" value="@config.ShowComments"/>
                                                        <input type="checkbox" checked="@(config.ShowComments === 'true')" class="js-switch"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@(__("admin.settings.message"))（<a href="http://changyan.kuaizhan.com" target="_blank">@__("admin.settings.comments_service")</a>）</div>
                                                    <div class="pull-right">
                                                        <input id="ShowGuestbook" type="hidden" name="ShowGuestbook" value="@config.ShowGuestbook"/>
                                                        <input type="checkbox" checked="@(config.ShowGuestbook === 'true')" class="js-switch"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.comments_id")</div>
                                                    <div class="pull-right">
                                                        <input id="ChangyanId" type="text" name="ChangyanId" placeholder='@__("admin.settings.comments_id_placeholder")' value="@config.ChangyanId" class="form-control"/>
                                                    </div>
                                                </li>
                                                <li class="list-group-item clearfix">
                                                    <div class="pull-left">@__("admin.settings.comments_conf")</div>
                                                    <div class="pull-right">
                                                        <input id="ChangyanConf" type="text" name="ChangyanConf" placeholder='@__("admin.settings.comments_conf_placeholder")' value="@config.ChangyanConf" class="form-control"/>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="btnSave" type="button" role="button" class="btn btn-primary">
                                        <i class="fa fa-cloud-upload"></i> @__("admin.settings.save")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/metisMenu/dist/metisMenu.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/admin.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/blueimp-file-upload/js/jquery.fileupload.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/fuelux/dist/js/fuelux.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/sweetalert/dist/sweetalert.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/switchery/dist/switchery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/settings.js" charset="utf-8"></script>