.post-copyright {
    position: relative;
    margin-bottom: 1rem;
    padding: .5rem .8rem;
    border: 1px solid #eee;
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}
.post-copyright::before {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
    background: #49b1f5;
    content: "";
}
.hljs {
    border: 0;
    font-family: "Consulas", "Courier New", Courier, mono, serif;
    font-size: 12px;
    background: transparent;
    display: block;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-weight: 200;
    color: #333;
    white-space: pre-wrap
}
.hljs ul {
    list-style: none;
    padding: 0px;
    padding-left: 0em!important;
}
.hljs ul li {
    list-style: none;
    font-family: "Consulas", "Courier New", Courier, mono, serif;
    font-weight: 200;
    font-size: 12px;
    padding-left: 5px!important;
    margin: 0 !important;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
}
.hljs ul li:nth-of-type(even) {
    color: inherit;
}
code.hljs{
    background: transparent;
}
.hljs ul {
  list-style-type: none;
  margin-left: 0;
}

.hljs ul  li {
  counter-increment: customlistcounter;
}

.hljs ul li:before {
  content: counter(customlistcounter) " ";
  /*font-weight: bold;*/
  float: left;
  width: 3em;
  margin-right: 10px;
  color: #999;
  border-right: 3px solid #6ce26c !important;
}

.hljs ul :first-child {
  counter-reset: customlistcounter;
}