html, body, .render-body, .render-body .row:first-child {
    height: 100%;
}

body {
    font-family: 微软雅黑;
}

body.mCustomScrollbar .mCSB_scrollTools .mCSB_draggerContainer {
    top: 70px;
}

button {
    outline: medium none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
}

label {
    display: block;
}

a {
    color: #585f69;
}

a:hover, a:focus {
    color: #19aa8d;
    text-decoration: none;
    outline: none;
}

.popover {
    font-family: inherit;
}

*::selection {
    background: #eb7350 none repeat scroll 0 0;
    color: #ffffff;
}

*::-moz-selection {
    background: #eb7350 none repeat scroll 0 0;
    color: #ffffff;
}

blockquote {
    font-size: 15px;
}

.form-control:focus {
    border-color: #1ab394;
    box-shadow: none;
}

.btn {
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.glyphicon {
    font-family: none !important;
}

.dropdown-menu > li > a {
    padding: 3px 13px;
}

.navbar-default {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.92);
}

.navbar-inverse {
    background-color: #293846;
    border-color: #222;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -4px;
    margin-right: 6px;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    -ms-opacity: 1;
    opacity: 1;
}

.navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
}

.navbar-default .navbar-brand {
    color: #2b2b2b;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #2b2b2b;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 370px;
}

.my-nav-pills li {
    clear: none;
}

.my-nav-pills > li > a {
    font-size: 16px;
    line-height: 69px;
    padding: 0 13px;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    -ms-opacity: 1;
    opacity: 1;
}

.navbar-default .navbar-nav > .active:nth-child(1) a{
    color: #f60;
    border-color: #f60;
}

.navbar-default .navbar-nav > .active:nth-child(2) a{
    color: #d243ff;
    border-color: #d243ff;
}

.navbar-default .navbar-nav > .active:nth-child(3) a{
    color: #01b7ee;
    border-color: #01b7ee;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: transparent;
}

.navbar .navbar-toggle {
    margin-top: 18px;
}

.navbar-default .navbar-toggle {
    background-color: #1ab394;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #18a689;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.category-block {
    background: #f3f3f4;
    padding: 30px 0 0 15px;
    top: 70px;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.category-top {
    border: 1px solid #e7eaec;
    height: 60px;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
    background: #ffffff;
}

.category-split {
    height: 20px;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    background: #ffffff;
}

.category-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 15px;
    top: 110px;
    background: #ffffff;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.label-green {
    background-color: #1ab394;
    color: #ffffff;
    font-weight: normal;
    margin-top: 2px;
}

.label-green-2 {
    background-color: #1ab394;
    color: #ffffff;
    font-weight: normal;
    margin-top: 1px;
    padding: 0.3em 0.5em 0.3em;
}

.nav-pills > li > a {
    -ms-border-radius: 0;
    border-radius: 0;
}

.category-list .nav li a {
    padding: 14px 20px 14px 25px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 15px;
}

.category-list .nav li a img {
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: -3px;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #f60;
    background: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fff5ee;
    border-color: #f8d4bc;
    color: #f60;
}

.nav-pills .badge {
    background: #555;
    color: #ffffff;
    float: right;
}

.blog-list {
    padding-top: 70px;
    height: 100%;
}

.top-bar {
    border-bottom: 1px solid #e7eaec;
    height: 59px !important;
    margin: 0 -20px 20px -20px;
}

.data-block {
    height: auto !important;
    min-height: 100%;
    background: #f3f3f4;
}

.list-wrap {
    margin: 30px 6px 0;
    padding: 0 20px 20px;
    background: #ffffff;
    border-color: #e7eaec;
    border-style: solid solid none;
    border-width: 1px 0;
    min-height: 64px;
}

.list-wrap ol {
    margin-bottom: 0;
}

.blog-item {
    position: relative;
}

.preview-link {
    display: block;
    cursor: alias;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.blog-item h4 a, .blog-item span {
    position: relative;
    z-index: 2;
}

.blog-item span, .blog-item p {
    color: #777;
}

.blog-item p {
    margin-top: 20px;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #242b32;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.hr-line-dashed {
    background-color: #ffffff;
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.block-grey {
    background: #f3f3f4;
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 100%;
}

.block-white {
    background: #ffffff;
    min-height: 95%;
    padding: 25px 20px 20px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #19aa8d;
}

.icon-gear {
    vertical-align: bottom;
    color: #555;
}

.icon-gear:hover, .icon-gear:focus {
    color: #242b32;
}

.btn-round-icon-xs {
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 22px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, input.input-validation-error:focus, textarea.input-validation-error, textarea.input-validation-error:focus {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.sweet-alert {
    font-family: 微软雅黑 !important;
}

.sweet-alert h2 {
    font-size: 20px !important;
    font-weight: normal !important;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

#cate-list li.placeholder {
    position: relative;
    border: medium none;
    margin: 0;
    padding: 0;
}

#cate-list li.placeholder:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent #19aa8d;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 5px medium 5px 5px;
    content: "";
    height: 0;
    left: -5px;
    margin-top: -1px;
    position: absolute;
    top: -4px;
    width: 0;
}

#cate-list .fa-arrows {
    cursor: move;
    vertical-align: top;
    margin-top: 5px;
}

#cate-list li {
    padding-bottom: 7px;
}

#cate-list .placard {
    margin-top: -5px;
    margin-bottom: -8px;
}

.btn-del-cate {
    padding: 0;
    float: right;
}

#loadCate {
    margin-top: 50px;
}

.sk-wave {
    margin: 20px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.sk-wave .sk-rect {
    background-color: #19aa8d;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.list-wrap .spinner {
    margin: auto;
    width: 70px;
    text-align: center;
    height: 34px;
    padding-top: 7px;
}

.list-wrap .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #1ab394;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.list-wrap .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    margin-right: 5px;
}

.list-wrap .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin-right: 5px;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#btn-load {
    border-color: #ddd;
    color: #777;
}

#btn-load:hover {
    border-color: #adadad;
    color: #555;
}

/*-----------------------------------*/
/* Tooltip */
/*-----------------------------------*/
.tooltip {
    z-index: 1200;
}

.tooltip-inner {
    background: #000000 none repeat scroll !important;
    background: rgba(0, 0, 0, 0.8) none repeat scroll !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.right .tooltip-arrow {
    border-right-color: #000;
    border-right-color: rgba(0, 0, 0, 0.8);
}

.tooltip.left .tooltip-arrow {
    border-left-color: #000;
    border-left-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.margin-left-20 {
    margin-left: 20px;
}

.list-top-left {
    padding-top: 20px;
}

.list-top-left a {
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.list-top-left a.current {
    color: #333;
}

.list-top-left a:hover, .list-top-left a:focus {
    color: #333;
}

.list-top-left a:last-child {
    margin-left: 10px;
}

.list-top-center {
    padding-top: 13px;
    padding-right: 0;
    text-align: right;
}

.list-top-right {
    padding-top: 13px;
}

.detail-container {
    background: #f3f3f4;
    min-height: 100%;
}

.detail-wrap {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 40px 30px;
    background: #ffffff;
    border-color: #e7eaec;
    border-style: solid solid none;
    border-width: 1px 0;
    transition: width 0.3s;
}

.post-title {
    margin: 40px 0 100px;
}

.post-title h1 {
    font-size: 25px;
}

.post-label {
    background: white none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    border-radius: 30px;
    line-height: 1.5;
    padding: 3px 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.post-modal .post-label {
    margin-right: 4px;
}

.post-modal .mCSB_inside > .mCSB_container {
    margin-right: 25px;
}

.modal-open {
    overflow: hidden !important;
}

.empty-block {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    background: #f3f3f4;
}

.post-content a {
    color: #00BFFF;
}

.post-content a:hover {
    color: #00a8e2;
}

.post-content a.black-link {
    color: #585f69;
}

.post-content a.black-link:hover, .post-content a.black-link:focus {
    color: #19aa8d;
}

.post-content blockquote {
    font-size: 14px;
    color: #666;
}

.post-content blockquote h2 {
    border-left: none !important;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #666;
    font-weight: bold;
}

.post-content pre {
    padding: 0;
    border: none;
}

.hr-article {
    margin-top: 100px;
}

.category-list .mCSB_inside > .mCSB_container {
    margin-right: 7px;
}

.category-list .mCSB_scrollTools {
    width: 8px;
}

.fixed-tool {
    position: fixed;
    right: 14px;
    bottom: 0;
    z-index: 2;
}

.fixed-tool a {
    display: block;
    width: 40px;
    height: 40px;
    background: #555;
    border-radius: 50%;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.fixed-tool a:hover {
    background: #1ab394;
}

.fixed-tool .fa-qrcode {
    vertical-align: middle;
}

.qr-li {
    position: relative;
}

#qrBtn.opened {
    background: #1ab394;
}

.qrcontain {
    left: -134px;
    top: -107px;
}

.qrcontain.popover.left > .arrow {
    top: 86%;
}

.post-cover {
    display: none;
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 3;
}

.post-modal {
    position: fixed;
    transition: right 0.5s ease 0s;
    right: -1200px;
    top: 70px;
    bottom: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    background-color: #fff;
    outline: 0 none;
    z-index: 4;
    padding-left: 0;
    padding-right: 0;
}

.post-modal .modal-header h4, .blog-item h4 a {
    line-height: 1.3;
}

.post-modal .modal-header h4 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.post-modal .modal-body {
    position: absolute;
    width: 100%;
    top: 74px;
    bottom: 64px;
    overflow-y: auto;
    padding: 0 10px 15px 0;
}

.post-modal .post-content {
    padding: 0px 15px 0 30px;
}

.post-modal .post-content > div {
    margin-top: 30px;
}

.post-modal .modal-body p, .post-modal .modal-body span {
    cursor: text;
}

.post-modal .modal-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #1ab394;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.syntaxhighlighter .container::before, .syntaxhighlighter .container::after {
    display: block;
}

.fuelux .syntaxhighlighter {
    margin: 0 !important;
}

.fuelux .form-group .radio-custom.checked::before {
    background: #1ab394 none repeat scroll 0 0;
    border-color: #1ab394;
}

.post-content {
    min-height: 200px;
    overflow: hidden;
}

.post-content .syntaxhighlighter {
    background: #fff !important;
    border: 1px dashed #ccc !important;
    border-radius: 0 !important;
    cursor: text;
}

.post-content .syntaxhighlighter:hover {
    /*background: #fbfbfb !important;*/
    border: 1px dashed #6495ED !important;
}

.post-content .syntaxhighlighter:hover .gutter {
    background: #fbfbfb !important;
}

.post-content .syntaxhighlighter * {
    font-size: 14px !important;
    font-family: Monaco, Menlo, Consolas, "Courier New", 微软雅黑 !important;
}

.post-content .syntaxhighlighter .gutter {
    color: rgb(43, 145, 175) !important;
    background: #fff !important;
    border-right: 1px dashed #ccc !important;
}

.post-content .syntaxhighlighter .keyword {
    font-weight: normal !important;
    color: rgb(0, 0, 255) !important;
}

.post-content .syntaxhighlighter .html.keyword {
    color: rgb(128, 0, 0) !important;
}

.post-content .syntaxhighlighter .string {
    color: rgb(128, 0, 0) !important;
}

.post-content .syntaxhighlighter .html.string {
    color: rgb(0, 0, 255) !important;
}

.post-content .syntaxhighlighter .html.color1 {
    color: rgb(255, 0, 0) !important;
}

.post-content .syntaxhighlighter .comments {
    color: rgb(0, 128, 0) !important;
}

.post-content .syntaxhighlighter .css.plain {
    color: rgb(128, 0, 0) !important;
}

.post-content .syntaxhighlighter .css.keyword {
    color: rgb(255, 0, 0) !important;
}

.post-content .syntaxhighlighter .css.value {
    color: rgb(0, 0, 255) !important;
}

.sign-out-link {
    display: block;
    position: fixed;
    top: 80px;
    right: 20px;
    width: 35px;
    height: 35px;
    border: 2px solid #1ab394;
    border-radius: 50%;
    font-size: 18px;
    color: #1ab394;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    cursor: pointer;
}

.sign-out-link:hover, .sign-out-link:focus {
    background: #1ab394;
    color: #ffffff;
}

#scrollSpy {
    float: right;
    width: 10px;
}

#page-nav {
    position: fixed;
    top: 100px;
    bottom: 18px;
}

#page-nav li:not(:last-child) {
    padding-bottom: 4px;
}

#page-nav a {
    display: block;
    width: 15px;
    height: 100%;
    background: #fff;
    margin-right: 2px;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
}

#page-nav li.current a {
    background: #edf6fa;
}

.blog-list .footer {
    background: #f3f3f4;
}

footer {
    color: #888;
    font-size: 13px;
    text-align: center;
    padding: 25px 0 10px;
}

.about-block {
    min-height: 700px;
}

.p-lg {
    padding: 30px;
}

.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.widget-head-color-box {
    border-radius: 5px 5px 0 0;
    margin-top: 160px;
}

.m-b-md {
    margin-bottom: 20px;
}

img.profile-img {
    border: 6px solid #ffffff;
    width: 160px;
    height: 160px;
}

img.wechat-img {
    width: 160px;
    height: 160px;
}

.m-b-md {
    margin-bottom: 20px;
}

.widget-text-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    padding: 20px;
}

.widget-text-box .fa-wechat, .widget-text-box .fa-envelope {
    color: #1ab394;
}

.widget-text-box .fa-qrcode {
    cursor: pointer;
}

#job-title {
    font-size: 20px;
}

.scroll-nav {
    position: fixed;
    margin-top: 100px;
    background: #fff;
    padding: 25px 20px;
    width: 230px;
    transition: all 0.2s ease 0s;
}

.scroll-nav__heading {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}

.scroll-nav__list {
    list-style: none;
    padding-left: 2px;
}

.scroll-nav__sub-list {
    list-style: square;
    padding-left: 32px;
}

.scroll-nav__wrapper {
    padding: 0 15px;
    position: relative;
}

.scroll-nav__wrapper::after {
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 30px;
    width: 3px;
}

.scroll-nav__list * {
    font-size: 13px;
}

.scroll-nav__list a {
    display: block;
    padding: 3px 0;
}

.scroll-nav__item, .scroll-nav__sub-item {
    color: #777;
}

.scroll-nav__item > a, .scroll-nav__sub-item > a {
    color: #777;
}

.scroll-nav__item.active, .scroll-nav__item.active .scroll-nav__sub-item.active {
    color: #008e59;
}

.scroll-nav__item:hover, .scroll-nav__sub-item:hover, .scroll-nav__item > a:hover, .scroll-nav__sub-item > a:hover {
    color: #008e59;
}

.scroll-nav__item.active > a, .scroll-nav__item.active .scroll-nav__sub-item.active > a {
    color: #008e59;
    font-weight: bold;
}

.scroll-nav__item.active > a::before {
    border-left: 3px solid #009a61;
    content: "";
    display: block;
    height: 26px;
    left: 0;
    margin-top: -3px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.close-menu {
    position: fixed;
    margin-top: 110px;
    margin-left: 197px;
    padding: 2px 6px;
    font-size: 14px;
}

.close-menu:hover {
    cursor: pointer;
}

.btn-menu {
    height: 40px;
    position: fixed;
    margin-top: -41px;
    border-color: #e7eaec;
    border-radius: 0;
    transition: none;
    display: none;
}

.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
    border-color: #ccc;
}

.font-controller {
    position: fixed;
    width: 40px;
    margin-left: -70px;
    margin-top: -41px;
    background: #fff;
    transition: none;
}

.font-controller .btn-font {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e7eaec;
    user-select: none;
    font-size: 14px !important;
}

.font-controller .btn-font:hover {
    cursor: pointer;
    border-color: #ccc;
}

.font-controller .btn-font:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.font-controller .btn-font.disabled {
    border-color: #ccc;
    filter: alpha(opacity=35);
    opacity: .35;
}

.font-controller .btn-font.disabled:hover {
    cursor: not-allowed;
}

.font-controller .btn-font.disabled:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.font-controller .btn-font-minus {
    border-bottom-color: transparent;
}

.post-content h2 {
    background: #fbfbfb none repeat scroll 0 0;
    border-left: 4px solid #39c;
    color: #222;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    margin: 30px -30px 10px;
    padding: 17px 40px 16px 23px;
}

.post-content .scroll-nav__section:nth-child(5n+1) h2 {
    border-left: 4px solid #b9d329;
}

.post-content .scroll-nav__section:nth-child(5n+2) h2 {
    border-left: 4px solid #ffae5b;
}

.post-content .scroll-nav__section:nth-child(5n+3) h2 {
    border-left: 4px solid #c0ebf7;
}

.post-content .scroll-nav__section:nth-child(5n+4) h2 {
    border-left: 4px solid #69bcf3;
}

.ueditor-body h2 {
    background: #fbfbfb none repeat scroll 0 0;
    border-left: 4px solid #39c;
    color: #222;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    margin: 30px -20px 10px;
    padding: 17px 40px 16px 23px;
}

.post-content h3 {
    color: #444;
    font-size: 15px;
    margin: 26px auto 10px;
    font-weight: bold;
}

.post-content h3::before {
    color: #39c;
    content: "■";
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.post-content .scroll-nav__section > .scroll-nav__sub-section:nth-child(4n+1) h3::before {
    color: #fab4cc;
}

.post-content .scroll-nav__section > .scroll-nav__sub-section:nth-child(4n+2) h3::before {
    color: #79d9f3;
}

.post-content .scroll-nav__section > .scroll-nav__sub-section:nth-child(4n+3) h3::before {
    color: #acd180;
}

.ueditor-body h3 {
    color: #444;
    font-size: 15px;
    margin: 26px auto 10px;
    font-weight: bold;
}

.ueditor-body h3::before {
    color: #fab4cc;
    content: "■";
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.thumbnail .caption {
    border-top: 1px solid #eee;
}

.lightbox .lb-data .lb-caption {
    font-size: 14px;
    font-weight: normal;
}

/*畅言自定义样式*/
#user_page li {
    clear: none;
}
