<div class="container-fluid detail-container">
    <div class="row">
        <div style="min-height: 800px;" class="col-md-8 col-md-offset-2 detail-wrap">
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=@config.YouyanId"></script>
        </div>
    </div>
    @this.renderPartial('./footer')
</div>
@this.renderPartial('./top')
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/guestbook.js" charset="utf-8"></script>
<script>
    var tools = [2];
</script>
<script type="text/javascript" src="/javascripts/top.js" charset="utf-8"></script>