<link href="/stylesheets/animate-custom.css" rel="stylesheet"/>
<link href="/stylesheets/railscasts.css" rel="stylesheet"/>
<link href="/libs/lightbox2/dist/css/lightbox.min.css" rel="stylesheet"/>
<div class="detail-container">
    <div class="container">
        <div class="row">
            <article class="col-sm-12 col-xs-12 detail-wrap post-content animated fadeIn @(config.ExpandMenu === 'true' ? 'col-md-9' : 'col-md-12')">
                <button title='@__("blog.article.table_of_content")' class="btn btn-white btn-menu">
                    <i class="fa fa-align-justify"></i>
                </button>
                <div class="font-controller hidden-sm hidden-xs">
                    <div title="缩小字体" class="btn-font btn-font-minus">A-</div>
                    <div title="增大字体" class="btn-font btn-font-plus">A+</div>
                </div>
                <div class="hidden-sm hidden-xs">
                    <div class="text-muted pull-left">
                        <span title='@__("blog.article.category")'>
                            <i class="fa fa-map-signs"></i>
                            <a href="/blog/@post.CategoryAlias" target="_blank" class="black-link">@post.CateName</a>
                        </span></div>
                    <div class="text-muted pull-right">
                        @{
                            post.LabelList.forEach(function(label) {
                                <span class="post-label" title="@label">@label</span>
                            });
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <header class="text-center post-title">
                    <span title='@__("blog.article.post_date")' class="text-muted">
                        <i class="fa fa-clock-o"></i> @post.CreateTimeStr</span>
                    <h1>@post.Title</h1>
                </header>
                <div id="main-context">
                    <blockquote>
                        <h2>@__("blog.article.brief")</h2>
                        <span>：@post.Summary</span>
                    </blockquote>
                    @this.raw(post.Content)
                </div>
                @if(config.ShowComments === 'true') {
                    <hr class="hr-article">
                    <div id="SOHUCS" sid="@post.UniqueId"></div>
                    <script>
                        (function () {
                            var appid = '@config.ChangyanId';
                            var conf = '@config.ChangyanConf';
                            var width = window.innerWidth || document.documentElement.clientWidth;
                            if (width < 960) {
                                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                            } else {
                                var loadJs = function (d, a) {
                                    var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                    var b = document.createElement("script");
                                    b.setAttribute("type", "text/javascript");
                                    b.setAttribute("charset", "UTF-8");
                                    b.setAttribute("src", d);
                                    if (typeof a === "function") {
                                        if (window.attachEvent) {
                                            b.onreadystatechange = function () {
                                                var e = b.readyState;
                                                if (e === "loaded" || e === "complete") {
                                                    b.onreadystatechange = null;
                                                    a()
                                                }
                                            }
                                        } else {
                                            b.onload = a
                                        }
                                    }
                                    c.appendChild(b)
                                };
                                loadJs("http://changyan.sohu.com/upload/changyan.js", function () {
                                    window.changyan.api.config({
                                        appid: appid, conf: conf
                                    })
                                });
                            }
                        })();
                    </script>
                }
            </article>
            <div id="control-wrap" class="col-md-3 hidden-sm hidden-xs" style='@(config.ExpandMenu === "true" ? "display: block;" : "display: none;")'>
                <a class="close-menu" title='@__("blog.article.hide")'>
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        @this.renderPartial('./footer')
    </div>
</div>
@this.renderPartial('./top')
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/lightbox2/dist/js/lightbox.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/scrollNav/dist/jquery.scrollNav.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/highlight.pack.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/article.js" charset="utf-8"></script>
<script>
    var expandMenu = '@config.ExpandMenu';
    var logoPath = "@config.LogoPath";
    var jiathis_config = {
        data_track_clickback: true,
        url: window.location.href,
        summary: "@post.Summary",
        title: "@post.Title"
    };
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=@config.JiaThisId" charset="utf-8"></script>
<script type="text/javascript" src="/libs/jquery-qrcode/dist/jquery.qrcode.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/top.js" charset="utf-8"></script>